.text {
    font-family: Normal, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin-left: 15px;
      }
  
  .text::first-letter {
    font-family: 'Normal';
    color: rgb(0, 255, 221);
    font-size: 20px;
    margin-left: 5%;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin-right: 14px;
  }
  
  .site-navigation {
    margin: auto;
    font-family: Roboto, sans-serif;
  }
  
  .site-navigation li {
    float: left;
  }
  
  .site-navigation a {
    display: block;
    padding: 10px;
    font-size: 10px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .site-navigation a:hover {
    color: rgb(0, 255, 221);
  }
  
  .site-navigation a:focus {
    color: rgb(0, 255, 221);
  }
   .clearfix {
    display: table;
    content: "0";
    clear: both;
  }
.p{
    text-decoration: underline;
    text-decoration-color: aqua;
    border-bottom: 2px solid maroon;
    padding-bottom: 5px;
    margin-right: 40%;
}

.item{
    width: 200px;
    height: 200px;
    background: whitesmoke;
    display: inline-block;
}

.img{
    width: 200px;
    height: 200px;
}
.footer{
    width: 200px;
    height: 40px;
    background: wheat;
}
.name{
    width: 120px;
    display: inline-block;
    line-height: 40px;
}
.price{
    width: 76px;
    display: inline-block;
    line-height: 40px;
}


.item:hover .footer{
    background: lightslategrey;
}
.item:hover .img{
    background: maroon;
}
.kartinka{
    width: 200px;
    height: 200px;
